<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!medicines"><em>Loading...</em></p>

<div>
  <h3>{{DateNow}}</h3>
</div>

<div *ngIf="medicines">
  <ul *ngFor="let medicine of medicines">
    <li [ngClass]="{'past': !compareDate(medicine.time)}"> {{medicine.name}}</li>
    <li [ngClass]="{'past': !compareDate(medicine.time)}"> {{medicine.isTaken}}</li>
    <li [ngClass]="{'past': !compareDate(medicine.time)}"> {{medicine.time | date:'medium'}}</li>
    <span *ngIf="compareDate(medicine.time) && !isFuture(medicine.time)" class="button" style="cursor:pointer; border: 1px solid black; border-radius: 8px; background-color: greenyellow" (click)="takeMedicine(medicine)">Take</span>
    <span *ngIf="!compareDate(medicine.time)" class="button" style="cursor:not-allowed; border: 1px solid black; border-radius: 8px; background-color: red;">Take</span>
  </ul>
</div>
